# Trash
.DS_Store
Thumbs.db
.direnv/***
# k8s
kubeconfig
# vscode-sops
.decrypted~*.yaml
.config.env
*.agekey
*.pub
*.key
github-deploy-key*
# Ansible
xanmanning.k3s*
# Terraform
.terraform
.terraform.tfstate*
terraform.tfstate*
megalinter-reports
provision/ansible/collections/*
provision/ansible/files/private_keys/*
provision/terraform/cloudflare/.terraform.lock.hcl
provision/ansible/inventory/group_vars/all/general.yaml
